.jac__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.jac__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.jac__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.jac__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgb(67, 246, 162);
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

.jac__footer-btn p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: rgb(227, 240, 79);
    word-spacing: 2px;
}

.jac__footer-btn p:hover{
    color: darkkhaki;
}

.jac__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.jac__footer-links div {
    width: 250px;
    margin: 1rem;
}

.jac__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.jac__footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.jac__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.jac__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.jac__footer-links_div p:hover{
    color: darkkhaki;
}

.jac__footer-links_div h2 {
    font-size: 24px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.jac__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.jac__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.jac__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .jac__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .jac__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .jac__footer-links div {
        margin: 1rem 0;
    }

    .jac__footer-btn p:hover{
        color: darkkhaki;
    }

    .jac__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .jac__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
    .jac__footer-btn p:hover{
        color: darkkhaki;
    }
}
